.dashord{

  width: 55px;
  margin-top: 10px;
  z-index: 20;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 10px; 
  align-items: center;
   margin-left: 86%; 
  box-shadow: 2px 2px 4px;
}
.dashord:hover{
  background-color: rgb(218, 231, 231);
}


.dashboard{
  display: grid;
  grid-template-columns: 190px 1fr;
  gap: 0;
  
}

.outlet{
  min-height: 90vh;
}
@media (max-width:1024px) {

  .dashord{

  width: 55px;
  margin-top: 10px;
  z-index: 20;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  align-items: center;
  margin-left: 87%;
  
}
.dashboard{
  display: grid;
  grid-template-columns: 132px 1fr;
  
}

.outlet{
  min-height: 90vh;
}
}

@media (max-width:980px) {

  .dashord{

  width: 55px;
  margin-top: 10px;
  z-index: 20;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  align-items: center;
  margin-left: 87%;
  
}
.dashboard{
  display: grid;
  grid-template-columns: 132px 1fr;
  
}

.outlet{
  min-height: 90vh;
}
}
@media (max-width:768px) {

  .dashord{

  width: 55px;
  margin-top: 10px;
  z-index: 20;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  align-items: center;
  margin-left: 87%;
  
}
.dashboard{
  display: grid;
  grid-template-columns: 20px 1fr;
  
}

.outlet{
  min-height: 90vh;
}}
@media (max-width:420px) {

  .dashord{

  width: 55px;
  margin-top: 10px;
  z-index: 20;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  align-items: center;
  margin-left: 70%;
  
}
.dashboard{
  display: grid;
grid-template-columns: 1px 1fr;
  
}

.outlet{
  min-height: 90vh;
  

}





}
@media (max-width:480px) {
  .dashord{

    width: 55px;
    margin-top: 10px;
    z-index: 20;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    align-items: center;
    margin-left: 80%;
    
  }
  
}